body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    background-color: #d0dcff;
}

h1{
    /* border: 5px solid blue; */
    text-align: center;
    background-color: blue;
    color: white;
    padding: 50px;
    margin-left: -10px;
}

footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-left: -10px;
}

p{
    font-size: small;
    text-align: justify;
}

p.description{
    font-size: 18px;
}

p.extra{
    color: slategray;
    font-size: 9px;
}

h3{
    text-decoration: underline;
}

/* li{
    font-size: inherit;
} */

li{
    font-size:small;
}

aside{
    font-size: x-small;
}

summary{
    font-weight: bold;
}

/* html{
    background-color: rgb(121, 176, 248);
} */

a:link, a:visited { 
    color: /* browser's internal value */;
    text-decoration: underline;
    cursor: auto;
}
  
  a:link:active, a:visited:active { 
    color: /* browser's internal value */;
}

.bookmark{
    text-align: center;
}

/*main {
    @include make-row();
    article {
        @include make-lg-column(2);
    }
} */