/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header styling */
header{
    margin: 0 auto;
    width: 1200px;
}

header nav{
    overflow: hidden;
    background-color: coral;
}

header nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

header nav li{
    width: 25;
    display: inline-block;
    font-size: 30px;
    padding: 40px;
}

header nav li a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}

header nav .corner-title{
    float: left;
    padding: 60px 0 0 10px;
    width: 30%;
    background-color: crimson;
	display: block;
	font-family: calibri;
	font-size: 60px;
	font-weight: bold;
	height: 130px;
	line-height: 130px;
	margin: 0;
	padding: 0;
	text-align:center;
	text-decoration: none;
	width: 270px;
}
