body{
    font-family: arial;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, black, rgb(73, 72, 72)) 
}

h1,
p,
a{
    color: white ;
}

div{
    padding: 1.5%;
}

fieldset{
    display: inline;
    width: auto;
    color: white;
}

label.rform{
    display: grid;
    width: 100px;
    color: white;
    position: relative;
    left: 32%;
    text-align: left;
    margin: 1%;
    font-weight: bold;
}

input.rform,
input.rformsub,
input.rformadd{
    width: 350px;
    max-width: 50%;
}

input.rform:focus,
input.rformadd:focus{
    outline-width: 3px;
    outline-style: solid;
    outline-color: red;
}

input.rform:valid{
    outline-width: 3px;
    outline-style: solid;
    outline-color: green;
}

.under13{
    display:none;
    padding: 30px;
    font-weight: bold;
    background-color: crimson;
}

.over50{
    display:none;
    padding: 30px;
    font-weight: bold;
    background-color: rgb(55, 55, 239);
}

footer{
    color: white;
}