body{
    font-family: arial;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, black, rgb(73, 72, 72)) 
}

h1,
p{
    color: white ;
}

div{
    padding: 1.5%;
}

fieldset{
    display: inline;
    width: auto;
    color: white;
}

label.rform{
    display: grid;
    color: white;
    position: relative;
    left: 32%;
    text-align: left;
    width: 100px;
    margin: 1%;
    font-weight: bold;
}

input.rform,
input.rformsub,
input.rformadd{
    max-width: 50%;
    width: 350px;
}

input.rform:focus,
input.rformadd:focus{
    outline-width: 3px;
    outline-style: solid;
    outline-color: red;
}

input.rform:valid{
    outline-width: 3px;
    outline-style: solid;
    outline-color: green;
}

footer{
    color: white;
}
